fastapi>=0.115.0
uvicorn[standard]>=0.32.0
python-dotenv>=1.0.0
pydantic>=2.10.0
pydantic-settings>=2.6.0
firebase-admin>=6.5.0
email-validator>=2.0.0
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.29
alembic>=1.13.1
cloudinary>=1.40.0
qrcode[pil]>=7.4.2
jinja2>=3.1.2